/* define all possible color */
:root {
  --primary-color: #ff900e;
  --white: #ffffff;
  --bg-color: rgba(255, 144, 14, 0.1); /* opacity 10% */
  --dark-1: #131313;
  --dark-2: #424242;
  --dark-3: #727272;
  --dark-4: #a1a1a1;
  --dark-5: #d0d0d0;
  --dark-6: #e7e7e7;
  --dark-7: #f3f3f3;
}

/* -----------------------------------------
        universal styles / utilities --start--
-------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

/* -----------------------------------------
        universal styles / utilities --end--
-------------------------------------------- */

/* -----------------------------------------
        Header styles --start--
-------------------------------------------- */

.header-area {
  background-color: var(--bg-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
.menu {
  display: flex;
  gap: 40px;
}
.site-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--dark-1);
}
.menu li {
  list-style-type: none;
}
.menu li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: var(--dark-2);
}

/* -----------------------------------------
         Header styles --end--
-------------------------------------------- */

/* -----------------------------------------
         Hero section --start--
-------------------------------------------- */

.hero-section {
  background: var(--bg-color);
  text-align: center;
}
.hero-section hr {
  display: none;
}
.hero-content {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
}
.hero-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: var(--dark-1);
}
.hero-description {
  color: var(--dark-3);
  margin: 30px 0;
}
.hero-btn {
  padding: 20px 25px;
  border: 0;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 50px;
}
.hero-img img {
  width: 100%;
  padding-bottom: 50px;
}
/* -----------------------------------------
         Hero section --end--
-------------------------------------------- */

/* -----------------------------------------
         features-section --start--
-------------------------------------------- */

.features-section {
  margin-top: 85px;
  margin-bottom: 130px;
}
.features-wrapper {
  display: flex;
  gap: 70px;
  align-items: center;
}
.features-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.features-image img {
    width: 100%;
}
.features-content {
    width: 100%;
    max-width: 530px;
}
.features-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--dark-1);
}
.features-title span:nth-of-type(1) {
  font-weight: 500;
  font-size: 45px;
  color: var(--dark-3);
}
.features-title span:nth-of-type(2) {
    color: var(--primary-color);
}

/* -----------------------------------------
         features-section --end--
-------------------------------------------- */

/* -----------------------------------------
         Responsive area --start--
-------------------------------------------- */
/* for mobile device max-width: 576px or less */
@media only screen and (max-width: 576px), (max-width: 768px) {
  .navbar {
    flex-direction: column;
    row-gap: 15px;
    padding-bottom: 50px;
  }
  /* hero section */
  .hero-section hr {
    display: block;
    border: 1px solid var(--dark-5);
  }
  .hero-content {
    padding-top: 40px;
  }
  .hero-title {
    font-size: 50px;
  }
  .hero-btn {
    font-size: 16px;
    padding: 15px 20px;
    margin-bottom: 25px;
  }
  /* features section */
  .features-wrapper {
    flex-direction: column;
  }
  .features-image {
    grid-template-columns: repeat(1,1fr);
  }
  .features-content {
    text-align: center;
  }
}

/* -----------------------------------------
         Responsive area --end--
-------------------------------------------- */
